/*
This file has only one intention: preserve the main content of a web page while being as simple and general as possible.
Though defining multiple specific CSS files would probably do a better job, it is hard and very time-consuming.

Notes:
- MP_XbCmavQ_WbhlOotaRDqFo_gdREhSLkPcxXVC_PZFWKcMUSb is a highly likely non existent ID that is used to increase specificity of a rule.
- :is shall guarantee that a whole rule would not be invalidated.
- you can also append :not(#some_id) to a rule to further increase specificity.
  :not(#some_id):not(#some_id) would have specificity (2,0,0).
  But it is better to be careful with it, since it seems to be unspecified.

Transparency plays a huge role for some elements.
Examples:
- <div> can be transparent by default and overlay partially/completely the visible content,
  so, setting some non-transparent background would hide something/everything on the page.
- <a> can also overlay content.
- Presumably other tags can also have similar behaviour.

Unfortunately, with pure CSS, it is very hard (probably even impossible in general case)
to always set a proper background, without corrupting the page's appearance.
So, the decision was made to make all elements transparent. That shall at least guarantee
that the main content won't be accidentally hidden. That comes at a price: some holders,
which are a normal part of content, will be partially transparent. That would make the
page look worse and diminish readability of internal content to some extent.

First set common properties for all tags, which are not in :not(...)
*/
:not(:is(head, link, style, title, meta, base, br, wbr, script, noscript, progress, iframe, embed, object, portal, source, #MP_XbCmavQ_WbhlOotaRDqFo_gdREhSLkPcxXVC_PZFWKcMUSb)){
  color: white !important;
  background-color: transparent !important;
}

/*
Set dark background to some elements-containers. It seems to be impossible to target anonym boxes with CSS,
so all <div> tags get dark background (eg anonymous box  <div>some txt, which will be anonym</div>).
*/
html:not(#MP_XbCmavQ_WbhlOotaRDqFo_gdREhSLkPcxXVC_PZFWKcMUSb),
body:not(#MP_XbCmavQ_WbhlOotaRDqFo_gdREhSLkPcxXVC_PZFWKcMUSb),
header:not(#MP_XbCmavQ_WbhlOotaRDqFo_gdREhSLkPcxXVC_PZFWKcMUSb),
nav:not(#MP_XbCmavQ_WbhlOotaRDqFo_gdREhSLkPcxXVC_PZFWKcMUSb),
aside:not(#MP_XbCmavQ_WbhlOotaRDqFo_gdREhSLkPcxXVC_PZFWKcMUSb),
main:not(#MP_XbCmavQ_WbhlOotaRDqFo_gdREhSLkPcxXVC_PZFWKcMUSb),
section:not(#MP_XbCmavQ_WbhlOotaRDqFo_gdREhSLkPcxXVC_PZFWKcMUSb),
article:not(#MP_XbCmavQ_WbhlOotaRDqFo_gdREhSLkPcxXVC_PZFWKcMUSb),
footer:not(#MP_XbCmavQ_WbhlOotaRDqFo_gdREhSLkPcxXVC_PZFWKcMUSb),
ul:not(#MP_XbCmavQ_WbhlOotaRDqFo_gdREhSLkPcxXVC_PZFWKcMUSb),
select:not(#MP_XbCmavQ_WbhlOotaRDqFo_gdREhSLkPcxXVC_PZFWKcMUSb),
div:not(#MP_XbCmavQ_WbhlOotaRDqFo_gdREhSLkPcxXVC_PZFWKcMUSb){
  background-color: rgb(27, 27, 27) !important;
}
/*
Empty divs can sometimes overlay content. Obviously they dont hold anything, so make them transparent.
*/
div:empty:not(#MP_XbCmavQ_WbhlOotaRDqFo_gdREhSLkPcxXVC_PZFWKcMUSb){
  background-color: transparent !important;
}
/*
Separate from above because it seems that putting them together invalidates all rules in firefox.
The rule means this: select parent <div>s, which have one/several <div> children but do not have anything else.
Such divs can also overlay content, so it is better to make them transparent, though it would make the
overall appearance of a page worse sometimes.
*/
div:has(>div):not(:has(>:not(div))):not(#MP_XbCmavQ_WbhlOotaRDqFo_gdREhSLkPcxXVC_PZFWKcMUSb){
  background-color: transparent !important;
}
/*
If <div> tag has any child that is not <div>, then remove any background images, since these can be white.
*/
div:has(>:not(div)):not(#MP_XbCmavQ_WbhlOotaRDqFo_gdREhSLkPcxXVC_PZFWKcMUSb){
  background-image: none !important;
}

/*
Inverting the color of images shall do a good job in most cases.
color property is set to black because it will be inverted to white for alt text.
*/
img:not(#MP_XbCmavQ_WbhlOotaRDqFo_gdREhSLkPcxXVC_PZFWKcMUSb){
  color: black !important;
  filter: invert(100%) !important;
}

/*
<canvas> can be used to present text! Example:
https://docs.google.com/document/d/1aitSOucL0VHZa9Z2vbRJSyAIsAz24kX8LFByQ5xQnUg/edit
Filter as images.
*/
canvas:not(#MP_XbCmavQ_WbhlOotaRDqFo_gdREhSLkPcxXVC_PZFWKcMUSb){
  filter: invert(100%) !important;
}

/*
Here are the definitions for all tags, which can contain text.
*/
p:not(#MP_XbCmavQ_WbhlOotaRDqFo_gdREhSLkPcxXVC_PZFWKcMUSb),
h1:not(#MP_XbCmavQ_WbhlOotaRDqFo_gdREhSLkPcxXVC_PZFWKcMUSb),
h2:not(#MP_XbCmavQ_WbhlOotaRDqFo_gdREhSLkPcxXVC_PZFWKcMUSb),
h3:not(#MP_XbCmavQ_WbhlOotaRDqFo_gdREhSLkPcxXVC_PZFWKcMUSb),
h4:not(#MP_XbCmavQ_WbhlOotaRDqFo_gdREhSLkPcxXVC_PZFWKcMUSb),
h5:not(#MP_XbCmavQ_WbhlOotaRDqFo_gdREhSLkPcxXVC_PZFWKcMUSb),
h6:not(#MP_XbCmavQ_WbhlOotaRDqFo_gdREhSLkPcxXVC_PZFWKcMUSb){
  opacity: 1 !important;
  background-color: rgb(27, 27, 27) !important;
}
/*
Just some anchor colors which look good for me on defined background.
*/
a:link:not(#MP_XbCmavQ_WbhlOotaRDqFo_gdREhSLkPcxXVC_PZFWKcMUSb){
  color: #3085C3 !important;
  opacity: 1 !important;
}
a:visited:not(#MP_XbCmavQ_WbhlOotaRDqFo_gdREhSLkPcxXVC_PZFWKcMUSb){
  color: #DA0C81 !important;
  opacity: 1 !important;
}
/*
Do not set just span to anything, it would corrupt some stuff.
::before and ::after are used for styling and are not set be general rule from above.
*/
span:not(#MP_XbCmavQ_WbhlOotaRDqFo_gdREhSLkPcxXVC_PZFWKcMUSb)::before,
span:not(#MP_XbCmavQ_WbhlOotaRDqFo_gdREhSLkPcxXVC_PZFWKcMUSb)::after{
  color: white !important;
}

li:not(#MP_XbCmavQ_WbhlOotaRDqFo_gdREhSLkPcxXVC_PZFWKcMUSb) > a,
span:not(#MP_XbCmavQ_WbhlOotaRDqFo_gdREhSLkPcxXVC_PZFWKcMUSb) > a{
  background: rgb(27, 27, 27) !important;
}
/*
Mark the borders of input to make it easier for users to identify it.
*/
input:not(#MP_XbCmavQ_WbhlOotaRDqFo_gdREhSLkPcxXVC_PZFWKcMUSb){
  border: red solid 1px !important;
  border-radius: 5px;
}
/*
Mark the borders of textarea to make it easier for users to identify it.
*/
textarea:not(#MP_XbCmavQ_WbhlOotaRDqFo_gdREhSLkPcxXVC_PZFWKcMUSb){
  border: rgb(0, 255, 255) solid 1px !important;
  border-radius: 5px;
}
